/* controls-leadboard section */
.list-controls-item {
	margin-bottom: 10px;
	font-size: 1rem;
}
.leaderboard-list-item {
	margin-bottom: 10px;
	font-size: 2rem;
}

/* game board */
canvas {
	display: block;
	margin: auto;
}

