/* controls-leadboard section */
.list-controls-item {
	margin-bottom: 10px;
	font-size: 1rem;
}
.leaderboard-list-item {
	margin-bottom: 10px;
	font-size: 2rem;
}

/* game board */
canvas {
	display: block;
	margin: auto;
	margin-right: 0px;
}

/* .leaderboard-row {
	width: 50%;
	padding-left: 20%;
} */

@media (min-width: 544px) {
    h1 {
        font-size: 1.5rem;
    } /*1rem = 16px*/
    h2 {
        font-size: 1.3rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    } /*1rem = 16px*/
    h2 {
        font-size: 1.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    } /*1rem = 16px*/
    h2 {
        font-size: 2.3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    } /*1rem = 16px*/
    h2 {
        font-size: 2.8rem;
    }
}