/* controls-leadboard section */
.leaderboard-controls {
	/* max-width: 1000px !important; */
}
.list-controls-item {
	margin-bottom: 10px;
	font-size: 1rem;
}
.leaderboard-list-item {
	margin-bottom: 10px;
	font-size: 2rem;
}

/* game board */
canvas {
	display: block;
	margin: auto;
	margin-right: 0px;
}

.header-nav {
	background-color: var(--primary-color);
}
